<ng-container *transloco="let t; prefix: 'header'">
  <header id="topAnchor">
    @if(wideScreen) {
      <mat-grid-list cols="1" rowHeight="65px">
        <mat-grid-tile [colspan]="'1'" [rowspan]="'1'" [style.background]="'transparent'">
          <mat-toolbar [@fixedStatic]="isFixedPosition ? 'static' : 'fixed'" color="none">
            <div class="center-container-elements">
              @for (link of mainLinks; track link) {
                <a mat-button routerLink="/{{link}}" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="viewportScroller.scrollToAnchor('topAnchor')">
                  @if(link === 'home') {
                    <mat-icon color="primary">{{link}}</mat-icon>
                  } @else if (link === 'imprint') {
                    <mat-icon color="primary">star</mat-icon>
                  } @else {
                    <mat-icon color="primary">apps</mat-icon>
                  }
                  <span [innerText]="t(link)"></span>
                </a>
                <span>┃</span>
              }
              <a mat-button [matMenuTriggerFor]="more">
                <mat-icon color="primary">more_vert</mat-icon>
                <span [innerText]="t('links')"></span>
              </a>
              <mat-menu #more>
                @for(link of homeLinks; track link.href) {
                  <a mat-menu-item href="//{{link.href}}" target="_blank" title="{{link.icon}}" rel="nofollow">
                    <img class="tools" height="20" width="20" ngSrc="//cdn.simpleicons.org/{{link.icon}}/black" alt="{{link.href}}" priority>
                    &nbsp;&nbsp;
                    <span>{{link.icon | titlecase}}</span>
                  </a>
                }
                <mat-divider></mat-divider>
                <a mat-menu-item [matMenuTriggerFor]="contrast">
                  <mat-icon>contrast</mat-icon>
                  <span [innerText]="t('modus')"></span>
                </a>
                <mat-menu #contrast>
                  @for(button of themeButtons; track button) {
                    <button mat-menu-item (click)="toggleTheme(button === 'dark', $event)">
                      <mat-icon>{{button}}_mode</mat-icon>
                      <span [innerText]="t(button)"></span>
                    </button>
                  }
                </mat-menu>
                <button mat-menu-item [matMenuTriggerFor]="language">
                  <mat-icon>language</mat-icon>
                  <span [innerText]="t('language')"></span>
                </button>
                <mat-menu #language>
                  @for(button of languageButtons; track button) {
                    <button
                      mat-menu-item
                      [ngClass]="{'active-lang': translocoService.getActiveLang() === button}"
                      (click)="this.setActiveLang(button)">
                      @if(button === 'de') {
                        <span matTooltipPosition="right" [matTooltip]="translocoService.getActiveLang() === 'de' ? 'Deutsch' : 'German'">🇩🇪</span>
                      } @else {
                        <span matTooltipPosition="right" [matTooltip]="translocoService.getActiveLang() === 'en' ? 'English' : 'Englisch'">🇬🇧</span>
                      } &nbsp;&nbsp;&nbsp;&nbsp; {{ button | uppercase }}
                    </button>
                  }
                </mat-menu>
                  <button mat-menu-item [matMenuTriggerFor]="other">
                    <mat-icon>info</mat-icon>
                    <span [innerText]="t('other')"></span>
                  </button>
                <mat-menu #other>
                  @for(other of otherLinks; track other.href) {
                    <a mat-menu-item href="//{{other.href}}" target="_blank" title="{{other.href}}" matTooltip="{{other.href}}" rel="nofollow">
                      <mat-icon>{{other.icon}}</mat-icon>
                      <span>{{other.text}}</span>
                    </a>
                  }
                </mat-menu>
              </mat-menu>
            </div>
          </mat-toolbar>
        </mat-grid-tile>
      </mat-grid-list>
    } @else {
      <mat-grid-list cols="1" [rowHeight]="rowHeightSmallDevice + 'px'">
        <mat-grid-tile [colspan]="'1'" [rowspan]="'1'" [style.background]="'transparent'">
          <mat-sidenav-container class="fullscreen-sidenav-container">
            <mat-sidenav #sidenav>
              <mat-nav-list (click)="closeSidenav(sidenav)">
                @for (link of mainLinks; track link) {
                  <a mat-list-item
                     routerLink="/{{link}}"
                     routerLinkActive="active"
                     ariaCurrentWhenActive="page"
                     (click)="viewportScroller.scrollToAnchor('topAnchor')"
                  >
                    <mat-icon color="primary" [matTooltip]="t(link)">
                      @if(link === 'technology') {
                        gpp_maybe
                      } @else if (link === 'imprint') {
                        view_comfy_alt
                      } @else {
                        {{link}}
                      }
                    </mat-icon>
                  </a>
                }
                <section class="burger-menu-section">
                  <mat-radio-group *ngIf="translocoService.getActiveLang() as activeLang" (change)="toggleLanguage(activeLang)">
                    @for(button of languageButtons; track button) {}
                    <mat-radio-button
                      #de
                      [checked]="activeLang === 'de'"
                      [matTooltip]="activeLang === 'de' ? 'Deutsch' : 'German'"
                      [ngClass]="{'active-lang': activeLang === 'de', 'glow': de.checked}"
                      (click)="this.setActiveLang('de')"
                    >
                      <span>🇩🇪</span>
                    </mat-radio-button>
                    <mat-radio-button
                      #en
                      [checked]="activeLang === 'en'"
                      [matTooltip]="activeLang=== 'en' ? 'English' : 'Englisch'"
                      [ngClass]="{'active-lang': activeLang === 'en', 'glow': en.checked}"
                      (click)="this.setActiveLang('en')"
                    >
                      <span>🇬🇧</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </section>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              <mat-toolbar color="none">
                <button mat-icon-button (click)="openSidenav(sidenav)">
                  <mat-icon>menu</mat-icon>
                </button>
              </mat-toolbar>
            </mat-sidenav-content>
          </mat-sidenav-container>
        </mat-grid-tile>
      </mat-grid-list>
    }
  </header>
</ng-container>
