$active-color: #5b5b5b;

:host {
  position: relative;

  header {
    background-color: transparent;

    a, span {
      font-family: "Comfortaa", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1em;
    }

    .center-container-elements {
      text-align: center;
      width: 100%;
      color: #ababab;

      a {
        color: #ababab;

        span {
          font-size: .5rem;
          transition: font-size .4s ease;
        }

        &:hover {
          color: darken($active-color, 25%);

          span {
            font-size: 1.2rem;
          }
        }
      }

      .active {
        color: $active-color;

        span {
          font-size: 1rem;
        }
      }
    }

    .fullscreen-sidenav-container {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      mat-sidenav {
        width: 100vw;
        text-align: center;
      }
    }
  }
}

@keyframes example {
  from {filter: drop-shadow(0 0 0 rgba(0, 0, 0, 1));}
  to {filter: drop-shadow(0 0 7px rgba(0, 0, 0, 1));}
}

button[mat-menu-item] {
  &.active-lang {
    background-color: lighten(#ababab, 25%);
    display: inline-block;

    span {
      animation-name: example;
      animation-duration: .7s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }
}
