@import 'ol/ol.css';

:host {
  color: rgb(91, 91 , 91);

  footer {
    background-color: #ababab;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    font-optical-sizing: auto;

    mat-grid-list {
      mat-grid-tile {
        #map {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
        }

        .center-text {
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          mat-icon {
            transform: scale(.7);
          }
        }

        .icons {
          margin: 7px;
        }
      }

      &:first-of-type {
        background-color: #c0c0c0;
      }

      &:last-of-type {
        background-color: #ababab;

        mat-grid-tile {
          p {
            margin-top: 17px;
          }
        }
      }
    }
  }

  .border-landscape {
    border: transparent 0 solid;
  }
}
