@mixin white-gradient {
  background: linear-gradient(to right, #d6d6d6 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 80s;
$dark-primary: #ababab;
$light-primary: #d6d6d6;

:host {
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 42))}
  }

  @keyframes glow {
    from {
      filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0))}
    to {
      filter: drop-shadow(0 0 5px #fff)
    }
  }

  @keyframes color_change {
    50% { filter: drop-shadow(0 0 1px black) contrast(1.75) }
  }

  mat-grid-list {
    &:first-of-type {
      mat-grid-tile {
        background-color: $dark-primary;
      }
    }

    &:nth-child(3) {
      //border: red solid 1px;
    }

    &+mat-grid-list {
      mat-grid-tile {
        background-color: $dark-primary;
        overflow: visible;
      }
    }

    &:last-of-type {
      mat-grid-tile {
        &:first-of-type {
          background-color: $light-primary;
        }

        &:nth-child(2), &:nth-child(3) {
          background-color: $light-primary;
        }

        &:last-of-type {
          background-color: white;
        }
      }
    }
  }

  main {
    img {
      &#id {
        //transform: scale(5vw + 15%);
        //scale: clamp(.25%, 5% + 5vw, 100%);
        object-fit: cover;
      }
    }

    .glow-svg {
      display: inline-block;
      animation: glow 1s ease-in-out infinite alternate, 3s bounceInDown;
    }

    .bounceInUp-text {
      display: inline-block;
      animation: 3s 1s bounceInUp;
      text-align: center;
      font-family: 'Comfortaa', sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 40px;
      line-height: normal;
      color: #f5f5f5;
    }

    .slider {
      background: transparent;
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100vw;

      .slide-track {
        .slide {
          img {
            &:hover {
              animation: color_change 2s infinite;
            }
          }
        }
      }

      &::before,
      &::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 100px;
        z-index: 2;
      }

      &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }

      &::before {
        left: 0;
        top: 0;
      }

      .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 42);

        .slide {
          height: 100px;
          min-width: 250px;
        }
      }
    }
  }
}
