:host {
  .fullscreen-sidenav-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    mat-sidenav-content {
      mat-toolbar {
        button[mat-icon-button] {
          display: none;
        }

        .center-container-elements {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
