<mat-sidenav-container class="fullscreen-sidenav-container">
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Link 1</span>
      </a>
      <a mat-list-item routerLink="#">
        <mat-icon>question_answer</mat-icon>
        <span>Link 2</span>
      </a>
      <a mat-list-item routerLink="#">
        <mat-icon>star</mat-icon>
        <span>Link 3</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="none">
      <button #burger mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="center-container-elements">
        <a mat-button><mat-icon>home</mat-icon>Home</a>|
        <a mat-button><mat-icon>account_circle</mat-icon>User</a>|
        <a mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>Menu</a>
        <mat-menu #menu>
          <button mat-menu-item routerLink="/">
            <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            <span>OK</span>
          </button>
          <button mat-menu-item routerLink="#">Item 2</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
