<mat-accordion class="animate__animated animate__fadeIn">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        OpenTelemetry
      </mat-panel-title>
      <mat-panel-description>
        This is a exposé of the concept
      </mat-panel-description>
    </mat-expansion-panel-header>
    <embed
      src="assets/pdf/expose.pdf"
      type="application/pdf"
      width="100%"
      height="1000vh"
    />
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Otel 2
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <iframe src="assets/pdf/expose.pdf"
            width="100%"
            height="1000vh"
             frameborder="0"></iframe>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Otel 3
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <object data='assets/pdf/expose.pdf'
            type='application/pdf'
            width='100%'
            height='700px'></object>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        X
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img ngSrc="https://www.thomas-schulte.de/images/made_with_love.gif" width="48" height="48" priority alt="under-construction">
  </mat-expansion-panel>
</mat-accordion>
