$fontColorImprint: rgb(51, 51, 51);

:host {
  animation: fadeIn;
  animation-duration: 2s;
  position: absolute;
  top: 0;
  left: 0;

  * {
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;

    &.matTab {
      color: $fontColorImprint;
      font-weight: 700;

      &:hover {
        color: lighten($fontColorImprint, 50%);;
      }
    }
  }

  .virtual-scroll-viewport {
    height: 545px;
    min-width: 100vw;

    .imprint, .gdpr {
      padding: 20px;

      h2 {
        color: #5b5b5b;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}
