<mat-tab-group color="primary" class="animate__animated animate__fadeIn"
   [animationDuration]="'1000ms'"
   [dynamicHeight]="'true'"
   mat-stretch-tabs="true"
   mat-align-tabs="center"
>
  <ng-container *transloco="let t; prefix: 'imprint'">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="matTab" [textContent]="t('imprint')"></span>
      </ng-template>
      <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll-viewport">
        <div class='imprint'>
          <p>
            <strong>
              <u>Angaben gemäß § 5 TMG</u>
            </strong>
          </p>
          <p>
            Thomas-Laurenz Schulte <br>
            Holsteiner Chaussee 181<br>
            D - 22457 Hamburg ⚓<br>
            Germany<br>
          </p>
          <p>
            <strong>Vertreten durch: </strong>
            <br>
            Thomas-Laurenz Schulte
            <br>
          </p>
          <p>
            <strong>Kontakt:</strong>
            <br>
            Telefon: +49 (0) 151 51 21 222 9
            <br>
            E-Mail: <a href='mailto:thoschulte@googlemail.com'>thoschulte&#64;googlemail.com</a>
            <br>
          </p>
          <p>
            <strong>Umsatzsteuer-ID: </strong>
            <br>
            Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE337415262
            <br><br>
          </p>
          <p>
            <strong>Haftungsausschluss: </strong>
            <br><br>
            <strong>Haftung für Inhalte</strong>
            <br><br>
            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
            Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG
            für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir
            als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
            oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung
            oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine
            diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
            Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
            <br><br>
            <strong>Haftung für Links</strong>
            <br><br>
            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
            können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets
            der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
            Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
            erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
            einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
            umgehend entfernen.
            <br><br>
            <strong>Urheberrecht</strong>
            <br><br>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
            Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
            Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien
            dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser
            Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
            Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten
            wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte
            umgehend entfernen.
            <br><br>
            <strong>Datenschutz</strong>
            <br><br>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
            Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies,
            soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
            Dritte weitergegeben.
            <br>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
            <br>
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
            nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die
            Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
            Werbeinformationen, etwa durch Spam-Mails, vor.
            <br><br><br>
            <strong>Google Analytics</strong>
            <br><br>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (''Google''). Google Analytics
            verwendet sog. ''Cookies'', Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der
            Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung
            dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort
            gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über
            die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der
            Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an
            Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
            verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Sie
            können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir
            weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
            voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie
            erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck
            einverstanden.
            <br><br>
            <strong>Google AdSense</strong>
            <br><br>
            Diese Website benutzt Google Adsense, einen Webanzeigendienst der Google Inc., USA (''Google''). Google Adsense
            verwendet sog. ''Cookies'' (Textdateien), die auf Ihrem Computer gespeichert werden und die eine Analyse der
            Benutzung der Website durch Sie ermöglicht. Google Adsense verwendet auch sog. ''Web Beacons'' (kleine unsichtbare
            Grafiken) zur Sammlung von Informationen. Durch die Verwendung des Web Beacons können einfache Aktionen wie der
            Besucherverkehr auf der Webseite aufgezeichnet und gesammelt werden. Die durch den Cookie und/oder Web Beacon
            erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an einen
            Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre
            Nutzung der Website im Hinblick auf die Anzeigen auszuwerten, um Reports über die Websiteaktivitäten und Anzeigen
            für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
            verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte
            übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
            verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Das
            Speichern von Cookies auf Ihrer Festplatte und die Anzeige von Web Beacons können Sie verhindern, indem Sie in
            Ihren Browser-Einstellungen ''keine Cookies akzeptieren'' wählen (Im MS Internet-Explorer unter ''Extras >
            Internetoptionen > Datenschutz > Einstellung''; im Firefox unter ''Extras > Einstellungen > Datenschutz >
            Cookies''); wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen
            dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der
            Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor
            benannten Zweck einverstanden.
          </p>
          <mat-divider></mat-divider>
          <br>
          <div>
            Impressum vom <a href="//www.impressum-generator.de">Impressum Generator</a> der
            <a href="//www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="matTab" [textContent]="t('gdpr')"></span>
      </ng-template>
      <cdk-virtual-scroll-viewport itemSize="0" class="virtual-scroll-viewport">
        <div class="gdpr">
          @if (false) {
            <object data="/assets/pdf/dsgvo.pdf" type="application/pdf" width="100%" height="1000" >
              <iframe
                src='/assets/pdf/dsgvo.pdf'
                width="100%"
                height="1000"
              >
                <p>This browser does not support PDF! No PDF viewer available.</p>
                <a href="/assets/pdf/dsgvo.pdf" download>Download</a>
              </iframe>
            </object>
          } @else {
            <div class="format-gdpr">
              <h2>Allgemein</h2>
              <h3><strong>Hinweise:</strong></h3>
              <p>
                Diese Datenschutzerklärung enthält ausführliche Informationen darüber, was mit Ihren persönlichen Daten passiert,
                wenn Sie unsere Website techstack.ch besuchen. Personenbezogene Daten sind alle Daten,
                mit denen Sie sich persönlich identifizieren können. Wir halten uns bei der Verarbeitung Ihrer Daten streng an die gesetzlichen Bestimmungen,
                insbesondere die Datenschutzgrundverordnung („DSGVO“), und legen großen Wert darauf, dass Ihr Besuch auf unserer Website absolut sicher ist.
              </p>
              <h3><strong>Verantwortliche Stelle:</strong></h3>
              <p>
                Datenschutzrechtlich verantwortlich für die Erhebung und Verarbeitung von personenbezogenen Daten auf dieser Website ist:
              </p>
              <p>
                <strong>Vorname, Name:</strong> Thomas-Laurenz Schulte
                <br>
                <strong>Straße, Hausnummer:</strong> Holsteiner Chaussee, 181
                <br>
                <strong>Postleitzahl, Ort:</strong> 22457 Hamburg
                <br>
                <strong>Land:</strong> Deutschland / Germany
                <br>
                <strong>E-Mail:</strong> thoschulte&#64;googlemail.com
                <br>
                <strong>Tel.:</strong> +49 (0) 151 51 21 222 9
              </p>
              <h2>Zugriffsdaten (Server-Logfiles)</h2>
              <p>
                Beim Aufruf unserer Website erheben wir und speichern automatisch in sogenannten Server- Logfiles Zugriffsdaten,
                die Ihr Browser automatisch an uns übermittelt. Dies sind:
              </p>
              <p>&nbsp;⬥ Browsertyp und Browserversion Ihres PC</p>
              <p>&nbsp;⬥ von Ihrem PC verwendetes Betriebssystem</p>
              <p>&nbsp;⬥ Referrer URL (Quelle/Verweis, von welchem Sie auf unsere Website gelangten)</p>
              <p>&nbsp;⬥ Hostname des zugreifenden Rechners</p>
              <p>&nbsp;⬥ Datum und Uhrzeit der Serveranfrage</p>
              <p>&nbsp;⬥ die aktuell von Ihrem PC verwendete IP-Adresse (ggf. in anonymisierter Form)</p>
              <p>
                Ein Personenbezug ist uns im Regelfall nicht möglich und auch nicht beabsichtigt.
                Die Verarbeitung solcher Daten erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO zur Wahrung unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.
              </p>
              <h2>Cookies</h2>
              <p>
                Um den Besuch unserer Website attraktiv zu gestalten und die Nutzung bestimmter Funktionen zu ermöglichen,
                verwenden wir sogenannte Cookies. Hierbei handelt es sich um kleine Textdateien, die auf Ihrem Endgerät abgelegt werden.
                Cookies können keine Programme ausführen oder Viren auf Ihr Computersystem übertragen.
              </p>
              <p>
                Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter,
                von Ihnen erwünschter Funktionen erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert.
                Wir haben ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung unserer Dienste.
                Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden,
                werden diese in dieser Datenschutzerklärung gesondert behandelt.
              </p>
              <p>
                Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies”.
                Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen.
                Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
              </p>
              <p>
                Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben,
                die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren.
                Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
              </p>

              <hr>

              <h2></h2>
              <p></p>
              <p></p>
              <p></p>
            </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-tab>
  </ng-container>
</mat-tab-group>
