<mat-tab-group color="primary" class="animate__animated animate__fadeIn" [color]="'primary'" [animationDuration]="'1000ms'" [dynamicHeight]="'true'"  mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="SOLID">
    <ng-template mat-tab-label>SOLID</ng-template>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-lg subpixel-antialiased" [matTooltip]="'Single Responsibility Principle'">Ⓢ</span>
        </ng-template>
        <cdk-virtual-scroll-viewport appendOnly itemSize="100" class="viewport">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>S R P</b>
              </mat-panel-title>
              <mat-panel-description>
                Single Responsibility Principle
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              Das Single Responsibility Principle (SRP) ist eines der SOLID-Designprinzipien in der Softwareentwicklung und steht für das Prinzip der Einzelverantwortung.
              Es besagt, dass eine Klasse oder ein Modul nur aus einem einzigen Grund geändert werden sollte.
              Dieses Prinzip zielt darauf ab, die Komplexität zu reduzieren, indem sichergestellt wird, dass eine Klasse nur eine Verantwortung hat und diese vollständig kapselt.
              Dies führt zu einem einfacheren Verständnis, leichterer Wartbarkeit und Erweiterbarkeit des Codes.
            </p>
          </mat-expansion-panel>
          <br>
          <div class="bad">
            <p [matTooltip]="'BAD'">
              <mat-icon aria-hidden="false" aria-label="ok icon" fontIcon="block"></mat-icon>
            </p>
          </div>
          <pre><code [highlightAuto]="codeBadSRP" [startFrom]="1" lineNumbers></code></pre>
          <mat-divider />
          <div class="good">
            <p [matTooltip]="'GOOD'">
              <mat-icon aria-hidden="false" aria-label="ok icon" fontIcon="done_outline"></mat-icon>
            </p>
          </div>
          <pre><code [highlightAuto]="codeGoodSRP" lineNumbers></code></pre>
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-lg subpixel-antialiased" [matTooltip]="'Open Closed Principle'">Ⓞ</span>
        </ng-template>
        <cdk-virtual-scroll-viewport appendOnly itemSize="100" class="viewport">
          <pre><code><b>O C P</b></code></pre>
          <pre><code>Open Closed Principle</code></pre>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <pre><code [highlightAuto]="code" [startFrom]="1" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
          <pre><code [highlightAuto]="code" lineNumbers></code></pre>
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-lg subpixel-antialiased" [matTooltip]="'Liskov Substitution Principle'">Ⓛ</span>
        </ng-template>
        <cdk-virtual-scroll-viewport appendOnly itemSize="100" class="viewport">
          <pre><code><b>L S P</b></code></pre>
          <pre><code>Liskov Substitution Principle</code></pre>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <img ngSrc="//gieldon.de/baustelle.gif" width="450" height="400" priority alt="under-construction">
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-lg subpixel-antialiased" [matTooltip]="'Interface Segregation Principle'">Ⓘ</span>
        </ng-template>
        <cdk-virtual-scroll-viewport appendOnly itemSize="100" class="viewport">
          <pre><code><b>I S P</b></code></pre>
          <pre><code>Interface Segregation Principle</code></pre>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <img ngSrc="//gieldon.de/baustelle.gif" width="450" height="400" priority alt="under-construction">
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-lg subpixel-antialiased" [matTooltip]="'Dependency Inversion Principle'">Ⓓ</span>
        </ng-template>
        <cdk-virtual-scroll-viewport appendOnly itemSize="100" class="viewport">
          <pre><code><b>D I P</b></code></pre>
          <pre><code>Dependency Inversion Principle</code></pre>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <img ngSrc="//gieldon.de/baustelle.gif" width="450" height="400" priority alt="under-construction">
        </cdk-virtual-scroll-viewport>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Second">
    <ng-template mat-tab-label>
      12 Factor App
    </ng-template>
    <img ngSrc="//gieldon.de/baustelle.gif" width="450" height="400" priority alt="under-construction">
  </mat-tab>
  <mat-tab label="Third">
    <ng-template mat-tab-label>
      Atomic Design
    </ng-template>
    <img ngSrc="//gieldon.de/baustelle.gif" width="450" height="400" priority alt="under-construction">
  </mat-tab>
  <mat-tab label="ddd">
    <ng-template mat-tab-label>Domain Driven Design</ng-template>
    <img ngSrc="assets/img/ddd.png" width="400" height="200" priority alt="under-construction">
    <img ngSrc="assets/img/ddd-2.png" width="400" height="200" priority alt="under-construction">
  </mat-tab>
</mat-tab-group>
