/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

// includes prerequisite styles for common features used by multiple components, such as ripples.
@include mat.core();

@include mat.strong-focus-indicators((
  border-style: dotted,
  border-width: 4px,
  border-radius: 2px
));

$mat-indigo-palette: mat.$indigo-palette;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$example-grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

// returns a complete angular material theming-palette.
// "default" hue, a "lighter" hue, a "darker" hue, and a "text" hue.
$my-primary-light: mat.define-palette($mat-indigo-palette, 500, 400, 600, 500);
$my-accent-light: mat.define-palette(mat.$blue-palette, A200);
//
$my-primary-dark: mat.define-palette($example-grey-palette, 500, 400, 600, 500);
$my-accent-dark: mat.define-palette(mat.$brown-palette, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

// Angular Material themes are divided along four dimensions: base, color, typography, and density.
// https://material.angular.io/guide/theming#theming-dimensions
$my-light-theme: mat.define-light-theme((
  color: (
    primary: $my-primary-light,
    accent: $my-accent-light,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: -2,
));

$my-dark-theme: mat.define-light-theme((
  color: (
    primary: $my-primary-dark,
    accent: $my-accent-dark,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

//@include mat.core-base($my-dark-theme);
//
//@include mat.core-color($my-dark-theme);
//
//@include mat.core-typography($my-dark-theme);
//
//@include mat.core-density($my-dark-theme);
//
// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-light-theme);

// theme dimensions: base, color, typography, and density.//
//
// Common base styles for the design system.
// These styles don't change based on your configured colors, typography, or density:
// structural styles such as border-radius, border-width, etc.
// @include mat.button-base($my-dark-theme);
//
// Styles related to the colors in the application.
// @include mat.button-color($my-light-theme);
//
// Styles related to the fonts used in the application, including the font family, size, weight, line-height, and letter-spacing.
// @include mat.button-typography($my-light-theme);
//
// Styles related to the size and spacing of elements in your application.
// @include mat.button-density($my-light-theme);
//
// All components also support a theme mixin that can be used to include the component's styles for all theme dimensions at once.
// @include mat.button-theme($my-dark-theme);

//@include mat.all-component-bases($my-light-theme);
//
//@include mat.all-component-colors($my-light-theme);
//
//@include mat.all-component-typographies($my-light-theme);
//
//@include mat.all-component-densities($my-light-theme);
//
//@include mat.all-component-themes($my-dark-theme);
// @include mat.all-component-themes($my-light-theme);


@include mat.core-color($my-dark-theme);
@include mat.all-component-themes($my-dark-theme);
@include mat.strong-focus-indicators-theme(purple);

@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($my-light-theme);
  @include mat.all-component-themes($my-light-theme);
  @include mat.strong-focus-indicators-theme(purple);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
