@mixin text {
  color: #5b5b5b;
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

:host {
  padding: 30px 50px 0;
  position: absolute;
  top: 0;
  width: 90vw;
  animation: fadeIn;
  animation-duration: 2s;
  height: 100%;

  p, h2, h4 {
    @include text;
  }

  section {
    container-type: inline-size;
    margin-top: 10px;

    p {
      font-size: clamp(50%, 50% + .75vw, 200%);

      &:last-of-type {
        margin-top: 10px;
      }
    }
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
  }
}
